#navbar {
  box-sizing: border-box;
  background-color: black;
  padding: 2% 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 auto;
}

.fa-reply, .fa-share {
  font-size: 0.5rem;
  text-align: center;
  flex: 0 0 6em;
}

.fa-reply::before, .fa-share::before {
  display: block;
  font-size: 1.2rem;
}

.fa-sign-in, .fa-sign-out {
  display: block;
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 0.5rem;
  padding: 6px;
  margin: 0 1em;
  border-radius: 6px;
  flex: 0 0 auto;
}

.fa-sign-in::before, .fa-sign-out::before {
  margin-right: 3px;
}

#navbar > .title {
  flex: 1 0 auto;
}

@media (min-width: 500px) {
  #navbar {
    width: 500px;
  }
}
