html {
  font-family: 'Ubuntu Condensed', sans-serif;
  color: white;
  font-size: 5vw;
}

body {
  background-color: black;
  max-width: 500px;
  margin: 0 auto;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

section {
  overflow-y: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (min-width: 500px) {
  html {
    font-size: 25px;
  }
}
