#library {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#library > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}

#library > .padding {
  margin: auto 0;
  flex-grow: 1;
}

#library > .filters {
  display: flex;
  justify-content: space-between;
  padding: 1%;
}

.filters .ctn {
  display: flex;
  align-items: center;
}

#library .fa::before {
  font-size: 1.5rem;
  margin: 0 0.5em;
}

#library select {
  color: black
}
