$deep-purple= #28143f
$light-purple= #5f2c82
$light-green= #49a09d
$deep-pink= #EF49B7

$bubble-size= 80px
$max-scale-factor = 2.25

.Mixing-bubble
  width $bubble-size
  height $bubble-size
  border-radius $bubble-size
  background-color grayscale(salmon)
  color white
  margin (@height * $max-scale-factor / 2) (@width * $max-scale-factor / 2)
  transition transform 0.2s ease-out, background-color 0.2s ease-out
  background-size cover
  background-color grey
  background-blend-mode soft-light

// samplenames: ['cafe', 'fire', 'jungle', 'rain', 'river', 'seawaves', 'wind']
.Mixing-bubble-cafe
  background-image url('/images/cafe-icon.jpg')

.Mixing-bubble-fire
  background-image url('/images/fire-icon.jpg')

.Mixing-bubble-jungle
  background-image url('/images/jungle-icon.jpg')

.Mixing-bubble-rain
  background-image url('/images/rain-icon.jpg')

.Mixing-bubble-river
  background-image url('/images/river-icon.jpg')

.Mixing-bubble-seawaves
  background-image url('/images/seawaves-icon.jpg')

.Mixing-bubble-wind
  background-image url('/images/wind-icon.jpg')


.Mixing-ripple
  width 300px
  height 300px
  border-radius 50%
  border 3px solid white
  transition transform 0.2s ease-out
  transform scale(0.1)
  position absolute
  top 0
  left 0

.Mixing-ripple-expand
  opacity 0
  transform none

.Mixing-bubble-selected
  background-color shade($deep-pink, 40%)

.Mixing-bubble-0
  transform scale(0.6)

.Mixing-bubble-2
  transform scale(1.5)
  background-color shade($deep-pink, 20%)

.Mixing-bubble-3
  transform scale($max-scale-factor)
  background-color $deep-pink

.Mixing-section
  background-image linear-gradient(90deg, $light-purple 10%, $light-green 90%)
  display flex
  flex-wrap wrap
  align-items center
  justify-content space-around
