#mixer {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
}

#mixer > .inputs-ctn {
  display: flex;
  justify-content: space-around;
  flex: 0 0 auto;
  font-size: 2em;
  padding: 5%;
}

#mixer > .bubbles-ctn {
  flex-basis: 100vw;
  flex-grow: 1;
}

#mixer .bubble {
  position: absolute;
  left: 50%;
}

@media (min-width: 500px) {
  #mixer > .bubbles-ctn {
    flex-basis: 500px;
  }
}
