#player {
  position: relative;
  box-sizing: border-box;
  background-color: dimgrey;
  flex: 0 0 27vw;
  margin-bottom: -3vw;
  padding: 1%;
}

#player > .play-button {
  position: absolute;
  box-sizing: content-box;
  left: 50%;
  bottom: 0;
  width: 30vw;
  height: 30vw;
  padding: 0;
  margin-left: -15vw;
  border-radius: 50%;
  font-size: 2.4rem;
  line-height: 30vw;
  text-align: center;
  background-color: dimgrey;
  outline: none;
}

.fa-volume-up {
  color: white;
  box-shadow: 0 0 2px 3px white;
}

.fa-volume-off {
  color: darkgrey;
  box-shadow: 0 0 2px 3px darkgrey;
}

#player > .title {
  font-size: 1.2rem;
}

#player > .composer {
  font-size: 0.8rem;
  margin-top: 0.5%;
}

#player > .countdown-timer {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 1%;
  font-size: 1.2rem;
}

#player > .countdown-timer .text {
  font-size: 0.5rem;
  text-align: right;
}

@media (min-width: 500px) {
  #player {
    width: 500px;
    flex-basis: 135px;
    margin-bottom: -15px;
  }

  #player > .play-button {
    width: 150px;
    height: 150px;
    margin-left: -75px;
    line-height: 150px;
  }
}
