$bubble-size= 250px

.Mixing-bubble
  width $bubble-size
  height $bubble-size
  border-radius $bubble-size
  background-color grayscale(salmon)
  color white

.Mixing-bubble-selected
  background-color salmon

.Mixing-bubble-2
  width 300px
  height 300px

.Mixing-bubble-3
  width 400px
  height 400px

.Mixing-section
  background-color purple
  display flex
  flex-wrap wrap
