$bubble-size= 250px

.Mixing-bubble
  width $bubble-size
  height $bubble-size
  border-radius $bubble-size
  background-color salmon
  color white

.Mixing-section
  background-color purple
  display flex
  flex-wrap wrap
